@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
:root {
  --font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #2e2f42;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',  sans-serif; */
}
h1 {
  margin-bottom: 30px;
}
section {
  padding: 32px 0;
}
.container {
  margin: auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
}
